.plans table td,
.plans table th {
	border-bottom: solid 1px #eee;
}
.btn-danger {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
#set_new_lesson_modal_txt {
	font-size: 15px;
	padding: 15px;
	line-height: 24px;
}
#set_a_lesson input[type=button]:hover {
	background: #070d21 !important;
	color: #B8C2E6 !important;
}
#set_a_lesson input[type=button] {
	background: #fff;
	color: #2b2b2b;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px #ccc;
	font-size: 15px;
}
#set_a_lesson {
	margin-top: 25px;
}
.datepicker table tr td.active,
#available_times .time-select-item.active,
#time_select .time-select-item:hover {
    background: #070d21 !important;
	color: #B8C2E6 !important;
}
#step_info_container {
	width: 100%;
}
#time_select .time-select-item,
#time_select .time-select-div {
	float: left;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
    line-height: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    background: #efefef;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    min-width: 32px;
}
.time-select-item {
	min-width: 55px;
}
#time_select .time-select-item,
#time_select .time-select-div {
	border-radius: 0px;
	border: 1px solid #cccccc !important;
	background: #ffffff;
	height: 40px;
}
#time_select .time-select-item,
#time_select .time-select-div,
#time_select .timeline-grid .time-item .time-select-div.not_worked_time:hover {
	color: #2b2b2b;
}
#time_select .time-select-item {
	min-width: 55px;
}
#time_select .time-select-item.am-pm {
	min-width: 80px;
}
.number-select-container {
	float: none;
	display: inline-block;
	background: none;
	border: none;
	border-top: 1px dotted #cccccc;
	border-radius: 0;
	padding: 5px 0 0 0;
}

/**********************************************/
/*                                            */
/*           Timeline header                  */
/*                                            */
/*                                            */
/**********************************************/
#timeline.bootstrap #step_title {
	display: none;
}
#timeline.bootstrap #step_info_container {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	height: auto;
}
#timeline.bootstrap #step_info_container .step-header {
	background: none;	
}
#timeline.bootstrap #step_info_container .step-header .step-title {
	margin: 0;
}
#timeline.bootstrap #step_info_container .step-header .step-title .step-name {
	display: block;
	font-weight: normal;
	color: #444444;	
}
#timeline.bootstrap #step_info_container .step-header .step-title .step-number {
	border-radius: 30px !important;
	height: 30px;
	width: 30px;
	padding: 2px 0 0 3px;
	display: inline-block;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	background: #ffffff;
	border: 1px solid #999999;
	color: #444444;
}
#timeline.bootstrap #step_info_container .step-header .step-title .step-number-container {
	border-bottom: 1px dotted #999999;
}
#timeline.bootstrap #step_info_container .step-header .step-title .step-info {
	font-weight: normal;
	font-size: 0.73em;
}
#timeline.vertical-steps .step-header {
   position: absolute;
   left: -9999px;
}

#timeline.vertical-steps .step-header.active, #timeline.vertical-steps .step-header.checked {
   position: static;
   left: 0px;
}

#timeline .item .location-image img,
#timeline .item .category-image img,
#timeline .item .event-image img,
#timeline .item .unit-image img {
	width: auto !important;
}
/*---- Timeline top: mobile view is for vertical and horizontal view of mobile  ---- */
#timeline #step_info_container .step-header {
	float: left;
}
@media (min-width: 650px) {
	#timeline.bootstrap #step_info_container {
		margin-bottom: 0px;
	}
	#timeline.bootstrap #step_info_container .step-header {
		height: 80px;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title > .step-number {
		display: none;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-number-container {
		height: 20px;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-name {
		margin-bottom: -15px;
		font-size: 18px;
		padding-left: 20px;
		text-align: center;
	}	
	#timeline.bootstrap #step_info_container .step-header .step-title .step-info {
		display: block;
		margin: 3px 0 0 40px;
		height: 40px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
@media (max-width: 650px){
	#timeline.bootstrap {
		margin: 0;	
	}
	#timeline.bootstrap,
	#timeline.bootstrap #step_info_container,
	#timeline.bootstrap #step_info_container .step-header {
		box-sizing: border-box;
	}
	#timeline.bootstrap #step_info_container .step-header {
		border-bottom: 1px solid #999999;
		padding: 7px 0 0 7px;
		height: auto;
		margin: 0;
		width: 100% !important;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-number {
		float: left;
		position: relative;
		top: -4px;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-number-container {
		display: none;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-info {
		margin: 0;
		height: auto;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-name {
		min-width: 100px;
	}
	#timeline.bootstrap #step_info_container .step-header .step-title .step-name,
	#timeline.bootstrap #step_info_container .step-header .step-title .step-info {
		float: left;
		margin-left: 10px;
		vertical-align: bottom;
	}
}
/* Datepicker */
.datepicker-switch {
	font-size: 18px;
	font-weight: normal;
}
.datepicker-inline {
	width: 315px;
}
.datepicker table tr td {
	padding: 5px;
	color: #2b2b2b;
	font-size: 15px;
	width: 42px;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	background: #f0f0f0;
	border: 1px solid transparent;
}
/* Add here all your css styles (customizations) */
.funny-boxes ul.funny-boxes-rating li {
	margin-right: 8px;
}
.funny-boxes ul.funny-boxes-rating li i,
.funny-boxes ul.funny-boxes-rating li i:hover {
	color: white;
}
.funny-boxes-top-blue {
  border-top: solid 2px #3498db;
}
.logged_as_admin a:hover {
	text-decoration: none;
}
.logged_as_admin a {
	text-decoration: underline;
	color: #a94442;
}
.logged_as_admin {
	font-size: 20px;
	text-align: center;
}
.funny-boxes-top-blue:hover {
  border-top-color: #3498db;  
}
.funny-boxes ul.funny-boxes-rating li i, .funny-boxes ul.funny-boxes-rating li i:hover {
	cursor: default;
}
.right_side_data {
	font-size: 16px;
	line-height: 20px;
}
.label_exercises {
	display: block;
	color: inherit;
	text-align: left;
	font-size: 100%;
	font-weight: 400;
}
.exercises_in_session,
.exercises_notin_session {
	padding-left: 15px;
}
#modal_exercises .modal-body table {
	width: 100%;
}
#recipients .modal-body table tr th,
#recipients .modal-body table tr td,
#modal_exercises .modal-body table tr th,
#modal_exercises .modal-body table tr td {
	border-bottom: solid 1px #ccc;
	line-height: 25px;
}
.exercises_in_session > label.checkbox {
	padding-left: 20px;
	display: block;
}
.exercises_in_session label {
	display: table !important;
}
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
.fa-skype {
	font-family: 'FontAwesome';
	margin-right: 5px;
}
input[type=text].disabled {
	background-color: #eee;
}
table.plans td {
	border-bottom: solid 1px #cecece;
}